
html{overflow-x:scroll!important}
body{overflow-x:hidden!important}
html, body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#superContainer {
    height: 100%;
    position: relative;
}
.fp-section {
    box-sizing: border-box;
    position: relative;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    display: block;
    height: 100%;
}
.fp-slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out 0s;
    z-index: 1;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    border-style: solid;
    cursor: pointer;
    height: 0;
    margin-top: -38px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 4;
}
.fp-controlArrow.fp-prev {
    border-color: transparent #fff transparent transparent;
    border-width: 38.5px 34px 38.5px 0;
    left: 15px;
    width: 0;
}
.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #fff;
    border-width: 38.5px 0 38.5px 34px;
    right: 15px;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    transition: none 0s ease 0s !important;
}
#fp-nav {
    margin-top: -32px;
    opacity: 1;
    position: fixed;
    top: 50%;
    z-index: 100;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav {
    left: 50%;
    opacity: 1;
    position: absolute;
    z-index: 4;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul, .fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    height: 13px;
    margin: 7px;
    position: relative;
    width: 14px;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    background: #333 none repeat scroll 0 0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 50%;
    height: 8px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 8px;
    z-index: 1;
}
#fp-nav ul li .fp-tooltip {
    color: #fff;
    display: block;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    max-width: 220px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: -2px;
    white-space: nowrap;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip {
    opacity: 1;
    transition: opacity 0.2s ease-in 0s;
    width: auto;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}