#Hero-bar {
	background: #fff;
	width: 100%;
	/*height: 60px;*/
	height: 42px;
	position: relative;
	z-index: 9999999;
}
.hero_head {
	/* width: 1024px;
height: 60px;
width: 1200px;
height:42px;
margin: 0 auto;
position:relative; */
	/* background-color: #000; */
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 42px;

	background-size: 100% 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}

.hero_options {
	display: flex;
}

.hero_head .hero_middle {
	/*height: 60px;*/
	/*line-height: 60px;*/
	height: 42px;
	line-height: 42px;
}

.hero_head .hero_middle,
.hero_head .hero_logo,
.hero_head .hero_middle .hero_title {
	float: left;
}

.hero_head .hero_middle {
	color: #4d4c4c;
	font-size: 14px;
	position: relative;
	z-index: 100;
}

.hero_head .hero_logo {
	/*margin: 10px 12px 0 33px;*/
	/*z-index:10;*/
	z-index: 100;
	position: relative;
	margin: 1px 12px 0 0px;
	width: 112px;
	height: 40px;
	display: block;
	background: url(Image_Index/Images/logo.png) no-repeat;
	background-size: 100% 100%;
}

.hero_head .hero_right {
	display: flex;
	align-items: center;
	width: auto;
	z-index: 100;
	position: relative;
}

.hero_head .hero_right a,
.hero_head .hero_right a i,
.hero_head .hero_right a span {
	/* display: block; */
	display: flex;
	white-space: nowrap;
	align-items: center;
	/* float: left; */
	color: #4d4c4c;
	font-size: 16px;
}

.hero_head .hero_right a i {
	position: relative;
	top: 2px;
	margin-right: 7px;
	height: 18px;
	background: url(Image_Index/Images/hero_ico2.png) no-repeat;
}

.hero_head .hero_right a:hover {
	color: #d71341;
}

.hero_head .hero_right .hero_user {
	padding-right: 12px;
	border-right: 1px solid #b5b5b5;
	margin-right: 12px;
}

.hero_head .hero_right .hero_user i {
	width: 16px;
	background-position: 0 -22px;
}

.hero_head .hero_right .hero_help i {
	width: 16px;
	background-position: -21px -23px;
}

.hero_head .hero_right .hero_user:hover i {
	background-position: 0 0;
}

.hero_head .hero_right .hero_help:hover i {
	background-position: -21px 0;
}
.game_list_bar span {
	color: #e94560;
	font-size: 16px;
	/* padding-right: 20px; */
	white-space: nowrap;
}
.game_list_bar {
	/* float: right; */
	/* margin: 10px auto auto 40px; */
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	z-index: 100;
	position: relative;
	cursor: pointer;
	/* height: 32px; */
}
.game_list_bar > span > i {
	display: block;
	border-width: 5px 5px 0;
	border-style: solid;
	border-color: #e94560 transparent transparent;
	width: 0px;
	position: absolute;
	right: 5px;
	top: 44%;
}
.game_list_box {
	width: 918px;
	min-height: 30px;
	position: absolute;
	right: 0;
	top: 32px;
	background: url(Image_Index/Images/list.png) no-repeat;
	background-size: 100% 100%;
	display: none;
	transform: translate(0, 40px);
	-webkit-transform: translate(0, 40px);
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	padding-bottom: 20px;
}
.game_list_box.show {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
.game_list_box .box_bar {
	width: 99.13%;
	position: relative;
	height: 40px;
	line-height: 40px;
	background-color: #f8f8f8;
	margin: 0 auto;
}
.game_list_box .box_bar .lastest {
	float: right;
	color: #000;
	font-size: 12px;
	margin-right: 40px;
	line-height: 40px;
}
.game_list_box .box_bar .lastest i {
	width: 13px;
	height: 13px;
	background: url(Image_Index/Images/new.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 8px;
	display: inline-block;
	position: relative;
	top: 2px;
	vertical-align: text-top;
}
.game_list_box .box_bar .hotest {
	float: right;
	color: #000;
	font-size: 12px;
	margin-right: 18px;
	line-height: 40px;
}
.game_list_box .box_bar .hotest i {
	width: 13px;
	height: 13px;
	display: inline-block;
	position: relative;
	background: url(Image_Index/Images/hot.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 8px;
	top: 2px;
}
.game_list_box ul {
	width: 100%;
}
.game_list_box ul li {
	width: 25%;
	height: 34px;
	line-height: 34px;
	color: #000;
	float: left;
	list-style: none;
}

.game_list_box ul li:nth-child(1),
.game_list_box ul li:nth-child(2),
.game_list_box ul li:nth-child(3),
.game_list_box ul li:nth-child(4) {
	margin-top: 20px;
}
.game_list_box ul li a {
	padding-left: 30px;
	padding-right: 7px;
	display: block;
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
.game_list_box ul li:hover a {
	color: #e93653;
	text-decoration: underline;
}
.game_list_box ul li i.hot_icon_yl {
	width: 13px;
	height: 13px;
	background: url(Image_Index/Images/hot.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 8px;
	float: right;
	top: 10px;
	position: relative;
	display: none;
}
.game_list_box ul li i.new_icon_yl {
	width: 13px;
	height: 13px;
	background: url(Image_Index/Images/new.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 8px;
	float: right;
	top: 10px;
	position: relative;
	display: none;
}
.game_list_box ul li.active1 i.hot_icon_yl {
	display: block;
}
.game_list_box ul li.active2 i.new_icon_yl {
	display: block;
}
.Hero-fixed {
	top: 42px;
}
.hero_head #top_banner_a {
	display: inline-block;
	width: 450px;
	height: 42px;
	/*margin-top:9px;*/
	margin-left: 25px;
}
.hero_head .middle_pic {
	display: inline-block;
	width: 450px;
	height: 42px;
}
.middle_big_img {
	display: inline-block;
	width: 1200px;
	height: 250px;
	position: absolute;
	left: 50%;
	/*margin-left:-480px;*/
	margin-left: -600px;
	display: none;
	z-index: 999;
}
.middle_big_img img {
	display: block;
	width: 100%;
	height: 100%;
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}